apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-api
  labels:
    app: user-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-api
  template:
    metadata:
      labels:
        app: user-api
    spec:
      serviceAccountName: user-api-sa
      automountServiceAccountToken: false

      securityContext:
        seccompProfile:
          type: RuntimeDefault

      containers:
        - name: user-api
          image: user-api:1.0.0
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8000

          env:
            - name: LOG_LEVEL
              value: "INFO"
            - name: OPA_URL
              value: "http://localhost:8181"
            - name: OPA_POLICY_PATH
              value: "httpapi/allow"
            - name: APP_PASSWORD_FILE
              value: "/mnt/secrets-store/APP_PASSWORD"

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

          securityContext:
            runAsNonRoot: true
            runAsUser: 10001
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]

          volumeMounts:
            - name: secrets-store
              mountPath: /mnt/secrets-store
              readOnly: true

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 30

          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10

        # Policy-as-Code як runtime-компонент (OPA sidecar)
        - name: opa
          image: openpolicyagent/opa:0.66.0
          args:
            - "run"
            - "--server"
            - "--log-format=json"
            - "/policies"
          ports:
            - containerPort: 8181
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
          securityContext:
            runAsNonRoot: true
            runAsUser: 10001
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: opa-policy
              mountPath: /policies
              readOnly: true

      volumes:
        - name: secrets-store
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: user-api-spc
        - name: opa-policy
          configMap:
            name: user-api-opa-policy
